<div class="container">
	{{#if show}}
	<div class="py-5 text-center">
		<h2>Agregar {{tipo}}</h2>
		<p class="lead">Llena todo los campos</p>
	</div>
	{{/if}}

	{{#if errors_send.length}}
		<div class="page-section" id="overview">
			<!-- ============================================================== -->
			<!-- overview  -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<h2>Errores</h2>
					<ul class="list-unstyled arrow">
						{{#each errors_send}}
							<li>{{text}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- end overview  -->
			<!-- ============================================================== -->
		</div>
	{{/if}}

	<div class="container">
		<h4 class="mb-3">Información sobre la plantilla</h4>
		<form action={{route}} method="POST" class="needs-validation" autocomplete="off">
			<div class="row">
				<div class="col-md-10 mb-10">
					<label for="nombre">Nombre(s)</label>
					<input type="text" class="form-control" id="nombre" name="nombre" value="{{nombre}}">
				</div>
				<div class="col-md-10 mb-10">
					<label for="descripcion">Descripción</label>
                    <textarea class="form-control" id="descripcion" rows="3" name="descripcion">{{descripcion}}</textarea>
				</div>
			</div>

			 <input type="hidden" id="role" name="role" value={{role}}>
			 <input type="hidden" id="tipo" name="tipo" value={{tipo}}>
			{{#if editing}}
				<br>
				{{#if campos.length}}
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="card">
							<h5 class="card-header">Preview</h5>
							<div class="card-body">
								<div class="table-responsive ">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Pregunta</th>
												<th scope="col">Info Aux</th>
												<th scope="col">Abierta</th>
												<th scope="col">Dato Cte</th>
												<th scope="col">Opciones</th>
												<th scope="col">Archivo</th>
												<th scope="col">#</th>
											</tr>
										</thead>
										<tbody>
											{{#each campos}}
											<tr>
												<td>
													{{#if es_subseccion}}
														<h5>{{pregunta}}</h5>
													{{else}}
														{{pregunta}}
													{{/if}}
												</td>
												<td>
													{{#if info_llenado}}
														{{info_llenado}}
													{{else}}
														x
													{{/if}}
												</td>
												<td>
													{{#if es_abierta}}
														{{#if dato_int}}
															Int
														{{else}}
															{{#if dato_string}}
																Char(255)
															{{else}}
																{{#if dato_text}}
																	Texto
																{{else}}
																	{{#if dato_fecha}}
																		Fecha
																	{{else}}
																		Hora
																	{{/if}}
																{{/if}}
															{{/if}}
														{{/if}}
													{{else}}
														x
													{{/if}}
												</td>
												<td>
													{{#if es_consistente}}
														{{Dato_Consistente.dato}}
													{{else}}
														x
													{{/if}}
												</td>
												<td>
												{{#each Opcions}}
													{{opcion}} <br>
												{{else}}
													x
												{{/each}}
												</td>
												<td>
													{{#if es_archivo}}
														Si
													{{else}}
														x
													{{/if}}
												</td>
												<td>
													<button type="button" class="btn btn-sm btn-outline-light delete-field">
														<i class="far fa-trash-alt" data-id={{id}}></i>
													</button>
												</td>
											</tr>
											{{/each}}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				{{else}}
					<p>Aún no hay nada para agregar</p>
				{{/if}}
				<br>
				<h3>Agregar Subsección / Campo / Pregunta</h3>
				<div class="row">
					<div class="col-md-6 mb-6">
						<label for="campo">Campo</label>
						<input type="text" class="form-control" id="campo" name="campo" placeholder="" value="{{campo}}">
					</div>
					<div class="col-md-6 mb-6">
						<label for="info_llenado">Información de llenado</label>
						<textarea class="form-control" id="info_llenado" rows="2" name="info_llenado">{{info_llenado}}</textarea>
					</div>
				</div>
				<div class="row">
					<h5> Tipo del Campo / Dato / Pregunta </h5>
					<div class="col-md-12 mb-12">
						<label class="custom-control custom-radio custom-control-inline">
							<input type="radio" name="type_field" value="es_abierta" class="custom-control-input"><span class="custom-control-label">Abierta</span>
						</label>
						<label class="custom-control custom-radio custom-control-inline">
							<input type="radio" name="type_field" value="es_cerrada" class="custom-control-input"><span class="custom-control-label">Opción</span>
						</label>
						<label class="custom-control custom-radio custom-control-inline">
							<input type="radio" name="type_field" value="es_multi" class="custom-control-input"><span class="custom-control-label">Multiple Opción</span>
						</label>
						<label class="custom-control custom-radio custom-control-inline">
							<input type="radio" name="type_field" value="es_cte" class="custom-control-input"><span class="custom-control-label">Constante</span>
						</label>
						<label class="custom-control custom-radio custom-control-inline">
							<input type="radio" name="type_field" value="es_archivo" class="custom-control-input"><span class="custom-control-label">Archivo</span>
						</label>
						<label class="custom-control custom-radio custom-control-inline">
							<input type="radio" name="type_field" value="es_sub" class="custom-control-input"><span class="custom-control-label">Subsección</span>
						</label>
					</div>
				</div>
				<div class="row">
					<div id="campo_op">
						<br>
						<h4>Opciones</h4>
						<div class="col-md-12 mb-12">
							<label for="opciones">Posibles valores</label>
							<textarea class="form-control" id="opciones" rows="3" cols="4" name="opciones">{{opciones}}</textarea>
							<p><i>SEPARADOS POR SALTO DE LINEA</i></p>
						</div>
					</div>
					<div id="data-type">
						<br>
						<h4>Tipo de Dato</h4>
						<div class="col-md-12 mb-12">
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" name="data_type" value="int" class="custom-control-input"><span class="custom-control-label">Integer</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" name="data_type" value="str" class="custom-control-input"><span class="custom-control-label">String (255)</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" name="data_type" value="txt" class="custom-control-input"><span class="custom-control-label">Text</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" name="data_type" value="date" class="custom-control-input"><span class="custom-control-label">Fecha</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" name="data_type" value="hour" class="custom-control-input"><span class="custom-control-label">Hora</span>
							</label>
						</div>
					</div>
					<div id="dato-cte">
						<br>
						<h4>Recuperar</h4>
						<div class="col-md-12 mb-12">
							<label for="campo_pos">INFO PRELLENADO</label>
							<select class="custom-select d-block w-100" id="campo_pos" name="campo_pos">
								{{#if campo_pos}}
									<option value={{campo_pos}}>{{campo_pos_value}}</option>
								{{else}}
									<option value="">Seleccionar</option>
								{{/if}}
								{{#each datos}}
									<option value={{id}}>{{dato}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
			{{else}}
				<p><i>Nota: Después de crear la plantilla podrás agregar campos</i></p>
			{{/if}}
			<br>
			<button class="btn btn-primary btn-lg" type="submit">{{accion}}</button>
		</form>
	</div>
</div>