<div class="container">
	<div class="py-5 text-center">
		<h2>Agregar NNA</h2>
		<p class="lead">Llena todo los campos</p>
	</div>

	{{#if errors_send.length}}
	<div class="page-section" id="overview">
		<!-- ============================================================== -->
		<!-- overview  -->
		<!-- ============================================================== -->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h2>Errores</h2>
				<ul class="list-unstyled arrow">
					{{#each errors_send}}
						<li>{{text}}</li>
					{{/each}}
				</ul>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- end overview  -->
		<!-- ============================================================== -->
	</div>
	{{/if}}

	<div class="container">
		<h4 class="mb-3">Información Personal</h4>
		<form action="{{route}}" method="POST" class="needs-validation" autocomplete="off">
			<div class="row">
				<div class="col-md-4 mb-3">
					<label for="nombre">Nombre(s)</label>
					<input type="text" class="form-control" id="nombre" name="nombre" placeholder="" value="{{nombre}}">
					<p>*Obligatorio</p>
				</div>
				<div class="col-md-4 mb-3">
					<label for="app">Apellido Paterno</label>
					<input type="text" class="form-control" id="app" name="app" placeholder="" value="{{app}}">
					<p>*Obligatorio</p>
				</div>
				<div class="col-md-4 mb-3">
					<label for="apm">Apellido Materno</label>
					<input type="text" class="form-control" id="apm" name="apm" placeholder="" value="{{apm}}">
					<p>*Obligatorio</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 mb-3">
					<label for="exp">Expediente</label>
					<input type="text" class="form-control" id="exp" name= "exp" placeholder="" value="{{exp}}">
					<p>*Obligatorio</p>
				</div>
				
				<div class="col-md-4 mb-3">
					<label for="sexo">Sexo</label>
					<select class="custom-select d-block w-100" id="sexo" name="sexo">
						{{#if sexo}}
							<option value={{sexo}}>{{sexo}}</option>
						{{else}}
							<option value="">Seleccionar</option>
						{{/if}}
						<option value="m">m</option>
						<option value="f">f</option>
					</select>
				</div>

				<div class="col-md-4 mb-3">
					<label for="fecha_nacimiento">Fecha Nacimiento</label>
					<input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" value={{fecha_nacimiento}}>					
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 mb-3">
					<label for="peso">Peso</label>
					<input type="text" class="form-control" id="peso" name= "peso" placeholder="" value={{peso}}>
				</div>
				<div class="col-md-3 mb-3">
					<label for="talla">Talla</label>
					<input type="text" class="form-control" id="talla" name= "talla" placeholder="" value={{talla}}>
				</div>
				<div class="col-md-4 mb-3">
					<label for="escolaridad">Escolaridad/Ocupación</label>
					<select class="custom-select d-block w-100" id="escolaridad" name="escolaridad">
						{{#if escolaridad}}
							<option value={{escolaridad}}>{{escolaridad_value}}</option>
						{{else}}
							<option value="">Seleccionar</option>
						{{/if}}
						{{#each esc}}
							<option value={{id}}>{{nivel}}</option>
						{{/each}}
					</select>
				</div>
			</div>

			<h4>Domicilio</h4>
			<div class="row">
				<div class="col-md-4 mb-3">
					<label for="calle">Calle</label>
					<input type="text" class="form-control" id="calle" name="calle" placeholder="" value="{{calle}}">
				</div>
				<div class="col-md-4 mb-3">
					<label for="no_ext">Número Exterior</label>
					<input type="text" class="form-control" id="no_ext" name="no_ext" placeholder="" value="{{no_ext}}">
				</div>
				<div class="col-md-4 mb-3">
					<label for="no_int">Número Interior</label>
					<input type="text" class="form-control" id="no_int" name="no_int" value="{{no_int}}">
				</div>
				<div class="col-md-4 mb-3">
					<label for="colonia">Colonia</label>
					<input type="text" class="form-control" id="colonia" name="colonia" value="{{colonia}}">
				</div>
				<div class="col-md-4 mb-3">
					<label for="municipio">Municipio</label>
					<input type="text" class="form-control" id="municipio" name="municipio" value="{{municipio}}">
				</div>
				<div class="col-md-4 mb-3">
					<label for="cp">CP</label>
					<input type="text" class="form-control" id="cp" name="cp" value="{{cp}}">
				</div>
				<div class="col-md-8 mb-3">
					<label for="referencias">Entre Calles</label>
					<input type="text" class="form-control" id="referencias" name="referencias" value="{{referencias}}">
				</div>
			</div>

			<h4>Denuncia</h4>
			<div class="row">
				<div class="col-md-4 mb-3">
					<label for="av_prev">Averiguación Previa</label>
					<input type="text" class="form-control" id="av_prev" name="av_prev" placeholder="" value="{{av_prev}}">
				</div>
				<div class="col-md-4 mb-3">
					<label for="act_seg">Acta de seguimiento</label>
					<input type="text" class="form-control" id="act_seg" name="act_seg" placeholder="" value="{{act_seg}}">
				</div>
				<div class="col-md-4 mb-3">
					<label for="fecha_denuncia">Fecha Denuncia</label>
					<input type="date" class="form-control" id="fecha_denuncia" name="fecha_denuncia" value={{fecha_denuncia}}>					
				</div>
			</div>

			<h4>Derechos</h4>
			<div class="row">
			{{#each der}}
				<label class="custom-control custom-checkbox custom-control-inline">
					<input name="derechos" type="checkbox" value={{id}} class="custom-control-input"><span class="custom-control-label">{{articulo}} - {{derecho}}</span>
				</label>
			{{/each}}
			</div>

			<div class="row">
				<div class="card-body border-top">
					<h4>Enfermedad</h4>
					<div class="form-group">
						{{#each enf}}
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<label class="custom-control custom-checkbox">
										<input name="enfermedades" type="checkbox" value="{{id}}" class="custom-control-input"><span class="custom-control-label"></span>
									</label>
								</div>
							</div>
							<input type="text" name="enfermedades" class="form-control" placeholder="{{nombre}}">
						</div>
						{{/each}}
					</div>
				</div>
			</div>

			<br>
			<button class="btn btn-primary btn-lg" type="submit">{{action_btn}}</button>
		</form>
	</div>
</div>