<div class="container">
	<div class="py-5 text-center">
		<h2>Llenando Formato</h2>
		<p class="lead">{{nombre_plantilla}}</p>
	</div>
	
	<form action="/formato/agregar/{{id_plantilla}}/{{exp}}" method="POST" class="needs-validation" autocomplete="off">
		
	{{#each campos}}
		<br><br>
		{{#unless es_subseccion}}
			{{#if info_llenado}}
			<p class="btn btn-sm btn-primary" data-toggle="popover" title="¿Cómo se llena?" data-content="{{info_llenado}}">
				{{pregunta}}
			</p>
			{{else}}
				<label for="{{id}}">{{pregunta}}</label>
			{{/if}}

		{{/unless}}
		{{#if es_abierta}}
			{{!-- input fiel --}}
			{{#if dato_int}}
				{{#each Respuesta_Ints}}
					<p>{{respuesta}}</p>
				{{/each}}
			{{else}}{{#if dato_string}}
				{{#each Respuesta_Strs}}
					<p>{{respuesta}}</p>
				{{/each}}
			{{else}}{{#if dato_text}}
				{{#each Respuesta_Texts}}
					<p>{{respuesta}}</p>
				{{/each}}
			{{else}}{{#if dato_fecha}}
				{{#each Respuesta_Dates}}
					<p>{{pregunta}}</p>
				{{/each}}
			{{else}}
				{{#each Respuesta_Strs}}
					<p>{{respuesta}}</p>
				{{/each}}
			{{/if}}{{/if}}{{/if}}{{/if}}

		{{else}}{{#if es_cerrada}}
			{{#each Opcions}}
				<label class="custom-control custom-radio custom-control-inline">
					<input type="radio" name="{{../id}}" value={{id}} class="custom-control-input"><span class="custom-control-label">{{opcion}}</span>
				</label>
			{{/each}}
		{{else}}{{#if es_consistente}}
			(Se recupera de {{Dato_Consistente.dato}})
		{{else}}{{#if es_archivo}}
			<input type="file" class="form-control" name="{{id}}" placeholder="">
		{{else}}{{#if es_multivalor}}
			{{#each Opcions}}
				<label class="custom-control custom-checkbox">
					<input type="checkbox" name="{{../id}}" value="{{id}}" class="custom-control-input"><span class="custom-control-label">{{opcion}}</span>
				</label>
			{{/each}}
		{{else}}{{#if es_subseccion}}
			<h2>{{pregunta}}</h2>
		{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
	{{/each}}
	<br>
	<br>
	<br>
	<button class="btn btn-primary btn-lg" type="submit">Agregar</button>
	</form>
</div>