<div class="container">
	<div class="py-5 text-center">
		<h2>Agregar Psicólogo</h2>
		<p class="lead">Llena todo los campos</p>
	</div>

	<div class="container">
		<h4 class="mb-3">Información Personal</h4>
		{{#each errors}}
			<div class="invalid-feedbacktl">
				<p>{{text}}</p>
			</div>
		{{/each}}
		<form action="/agregar_psicologo" method="POST" class="needs-validation" novalidate>
			<div class="row">
				<div class="col-md-4 mb-3">
					<label for="nombre">Nombre(s)</label>
					<input type="text" class="form-control" id="nombre" name="nombre" placeholder="" value={{nombre}}>
				</div>
				<div class="col-md-4 mb-3">
					<label for="app">Apellido Paterno</label>
					<input type="text" class="form-control" id="app" name="app" placeholder="" value={{app}}>
				</div>
				<div class="col-md-4 mb-3">
					<label for="apm">Apellido Materno</label>
					<input type="text" class="form-control" id="apm" name="apm" placeholder="" value={{apm}}>
				</div>
			</div>

			<div class="mb-3">
				<label for="no_cedula">Número de Cedula</label>
				<input type="text" class="form-control" id="no_cedula" name= "no_cedula" placeholder="" value={{no_cedula}}>
			</div>

			<button class="btn btn-primary btn-lg" type="submit">Agregar</button>
		</form>
	</div>
</div>