<!-- ============================================================== -->
<!-- pageheader  -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="page-header">
			<h2 class="pageheader-title"> Desplegando Detalles </h2>
			<!-- <div class="page-breadcrumb">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">E-coommerce</a></li>
						<li class="breadcrumb-item active" aria-current="page">E-Commerce Product Invoice</li>
					</ol>
				</nav>
			</div>-->
		</div>
	</div>
</div>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->
<div class="row">
	<div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-body">
				<div class="row mb-4">
					<div class="col-sm-8">
						<h5 class="mb-3">Datos:</h5>                                            
						<h3 class="text-dark mb-1">{{nombre}} {{app}} {{apm}}</h3>
						<div><b>Nickname: </b>{{nickname}}</div>
						<div><b>No. Cédula: </b>{{no_cedula}}</div>
						{{!-- <div>Email: info.com.pl</div>
						<div>Phone: +573-282-9117</div> --}}
					</div>
				</div>
				<div class="table-responsive-sm">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="center">#</th>
								<th>Item</th>
								<th>Description</th>
								<th class="right">Unit Cost</th>
								<th class="center">Qty</th>
								<th class="right">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="center">1</td>
								<td class="left strong">Origin License</td>
								<td class="left">Extended License</td>
								<td class="right">$1500,00</td>
								<td class="center">1</td>
								<td class="right">$1500,00</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			{{!-- <div class="card-footer bg-white">
				<p class="mb-0">2983 Glenview Drive Corpus Christi, TX 78476</p>
			</div> --}}
		</div>
	</div>
</div>